{% extends 'base.html.twig' %}

{% block message %}
	<div>
		<span style="font-weight: 700">Chào {{fullName}},</span>
		<br/>
		<br>
		</br>
		<span>Sử dụng ngay mã xác thực: 
			<h1 style="font-weight: bold; display:inline-block">{{otp}}</h1> 
			có thời hạn trong vòng 
			<h1 style="font-weight: bold; display:inline-block">{{otpTimeExpired}} phút</h1>
		</span>
	</br>
	</div>
{% endblock %}
