{% block logo %}
{% endblock %}

{# body #}
{% block message %}

{% endblock %}
{# end body #}

{% block thanks %}
	<br>
	<p>
		<span style="font-weight: 700">Trân trọng</span>
	</p>
	<p>
		<span style="font-weight: 700">Hệ thống Quản lý đánh giá CLDVKS</span>
	</p>
	<br>
{% endblock %}

{% block footer %}
	<br>
	<div class="footer"></div>
{% endblock %}
