{% extends 'base.html.twig' %}
{% block salutation %}{% endblock %}

{% block message %}
	<div>
		<span style="font-weight: 700">
			{{fullName}},</span><br/><br/></span><br/>
	<span>Forgot your password is minor, your experience is a big deal.</span>
	<br/>
	<span>Use the verification code right away: {{otp}} is valid within {{otpTimeExpired}} minutes.</span><br/>

</div>{% endblock %}
